name: Build EXE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install pillow customtkinter pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed foto_importer_plus.py

      - name: Upload EXE
        uses: actions/upload-artifact@v3
        with:
          name: FotoImporterPlus.exe
          path: dist/FotoImporterPlus.exe
